# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /uncode/

# Remove .php from URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# WordPress
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /uncode/home/index.php [L]
</IfModule>
# END WordPress