section{
    position: relative;
    height: 80vh;
    background: linear-gradient(
        to left,
        rgb(17,92,250) 9%,
        rgb(5,61,245) 91%
    );

    overflow: hidden;
}

.focus{
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:991px) {
    .custom-width{
    max-width: 25% !important;
}
}
h1, h2,p{
    color:#ffffff !important;
}
h1{
    font-size: clamp(5rem, 8vw, 8rem);
}
h2{
    font-size: clamp(2rem, 3vw, 3rem);
}
p {
    font-size: clamp(1rem, 4vw, 1rem);
}
.box{
    opacity: 0.4;
}
.btn{
animation: headShake 1s infinite !important;
}
.btn{
    background-color: #ffffff;
    color: black;
    font-size: clamp(0.5rem, 3vw, 0.8rem) !important;
    transition: 0.3s;
    border-radius: 50px !important;
}
.btn:hover{
    border: 2px solid #ffffff;
    background-color: #ffffff !important;
}