.banner{
    background-image: url('../img/s-bg.jpg');
    background-attachment: fixed; /* THIS makes the parallax effect */
    display: flex;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: clamp(4rem, 8vw, 8rem);
}
.gclose{
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 999999 !important;
}
.gprev svg,
.gnext svg {
  width: 100px;
}
.gprev:hover svg,
.gnext:hover svg {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}
.hero-img:hover,
.hero-img.active{
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.swiper-slide {         
  height: 100%;
  opacity: 0.3;
  transform: scale(0.8);
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}
.swiper-pagination-bullet {
  background: #000000;
  opacity: 0.4;
  transition: all 0.3s ease-in;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.1);
}
.spacing{
    padding: 80px 0px !important;
}
.service-title{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:18px;
    font-weight:600;
}
.line{
    width:30px;
    height:1px;
    background:#000;
    display:block;
    flex-shrink:0;
}
.service-img{
    object-fit: contain;
    width: 100%;
}
@media (max-width: 767px) {
    .spacing{
    padding: 40px 0px !important;
}
}